*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

div h1{
    text-align: center;
    background-color: #4e783a;
    color: white;
    padding: 20px;
}

nav ul{
    background-color: #c3d474;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 150px;
}

nav li:hover{
    background-color: white;
}
/*fin de estilo del encabezado*/
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

form h1 {
    padding: 20px;
    text-align: center;
    color: #444444;
}

form {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #cccccc;
}

h2 {
    color: #444444;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=radio] {
    margin-right: 10px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3e8e41;
}
