*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    background-color: #4e783a;
    color: white;
    padding: 20px;
}

nav ul{
    background-color: #c3d474;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 150px;
}

nav li:hover{
    background-color: white;
}
body {
    overflow: hidden;
}
.swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    margin-top: -10px;
    z-index: 10;
    cursor: pointer;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

